include AUTHORS
include LICENSE
include DESCRIPTION
include CHANGELOG.txt
include README.md
graft download_stats
global-exclude *.orig *.pyc *.log *.swp
prune download_stats/tests/coverage
prune download_stats/.ropeproject
